redmine:
  # Override defaults.yaml and osmap.yaml
  lookup:
    basedir: /opt/redmine
    # Prefix for setup users
    # (The Web user must not be able to alter any code.)
    setup_user_prefix: redmine-setup-
    setup_group: redmine-setup
    # Default Web user; this is used for operations
    web_user: www-data
    web_group: www-data
    # Packages which must be installed
    dependencies:
      #- subversion
      - git-core
    # Only for redmine.apache.gitolite_config_snippets
    db_driver_pkgs:
      - p5-DBD-mysql
    apache_reload_id: apache-service-running-reload

  instances:
    # The instance's name
    work:
      # Keep those up to date!
      # See https://www.redmine.org/projects/redmine/wiki/Download for new releases!
      git_uri: https://github.com/redmine/redmine.git
      branch: 4.0-stable
      #revision: HEAD
      revision: 4.0-stable

      web_user: www-data
      web_group: www-data
      # optional: makes redmine.apache.config_snippets use an alias instead of setting DocumentRoot
      apache_alias: /redmine-work

      git_user: git
      git_group: git
      git_alias: /git-work
      ## for mysql
      RedmineDSN: "DBI:mysql:database=redmine_instance;host=localhost" 
      ## for postgres
      # RedmineDSN_ "DBI:Pg:dbname=databasename;host=my.db.server" 
      ## for SQLite3
      # RedmineDSN: "DBI:SQLite:dbname=database.db" 
      # Allow only (i.e.) developers to commit code
      #RedmineDbWhereClause: " AND roles.id IN (4)"

      language: en

      database:
        # see https://www.redmine.org/projects/redmine/wiki/RedmineInstall#Step-3-Database-connection-configuration
        production:
          adapter: mysql2
          database: redmine
          host: localhost
          username: redmine
          password: my_password

      # The plugins to use in this instance
      plugins:
        # The plugin directory's name
        redmine_ics_export:
          uri: https://github.com/buschmais/redmics.git
          revision: HEAD
          branch: master
        redmine_timesheet_plugin:
          uri: https://github.com/arkhitech/redmine_timesheet_plugin.git
          remove: True
